<div class="large-container center-block">
    <div class="categories-block">
        <h1>Articulos publicados por <%= @category.title %></h1>

        <%= render @category.articles %>
    </div>
</div>
